*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
:root{
    /* ## Colors */
    
    /* ### Primary */
    
    --Cyan: hsl(179, 62%, 43%);
    --cyan2: hsl(179, 47%, 52%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    
    /* ### Neutral */
    
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --white: #fff;
}

body{
    background-color: var(--Light-Gray);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.container{
    display: flex;
    flex-wrap: wrap;
    width: 636px;
    height: 475px;
}

.card-1{
    background-color: var(--white);
    padding: 46px 65px 47px 41px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* .card-1 div{
    margin: 46px 78px 47px 41px;
} */

.card-1 h1{
    color: var(--Cyan);
    margin-bottom: 27px;
}
.card-1 span{
    color: var(--Bright-Yellow);
}
.card-1 p{
    color: var(--Grayish-Blue);
    margin-top: 14px;
}



.card-2{
    background-color: var(--Cyan);
    width: 50%;
    padding: 44px 39px 37px 30px;
    color: var(--white);
    border-bottom-left-radius: 10px;
}
.card-2 h2{
    margin-bottom: 21px;
}

.card-2 span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 11px;
}

.card-2 span::before{
    content: "$29";
    font-size: 30px;
    font-weight: 700;
}

.card-2 span::after{
    content: "per month";
    font-weight: 400;
    color: var(--Light-Gray);
}

.card-2 button{
    width: 100%;
    height: 50px;
    margin-top: 28px;
    border: none;
    border-radius: 5px;
    background-color: var(--Bright-Yellow);
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.card-3{
    background-color: var(--cyan2) ;
    width: 50%;
    padding: 44px 40px 37px 40px;
    color: var(--white);
    border-bottom-right-radius: 10px;
}

.card-3 h3{
    margin-bottom: 20px;
}
.card-3 p{
    color: var(--Light-Gray);
    padding-right: 50px;
    line-height: 22px;
}


@media (max-width: 480px ) {
    main{
        min-height: 60vh;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container section{
        width: 375px;
    }

    .card-2{
        border-radius: 0px;
    }

    .card-3{
       border-radius: 0px 0px 10px 10px;
    }
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
